
backend/node_modules
sdk/node_modules
demo-app/node_modules

backend/dist
sdk/dist
demo-app/dist


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


.DS_Store
Thumbs.db


.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*.local
.env
